.bottom{
    display: flex;
}

.up{
    width: 1618px;
    height: 500px;
    border-style: solid;
    border-width:  1px;
}

.rect{
    width: 1078px;
    height: 500px;
    border-style: solid;
    border-width:  1px;
    border-top: 0ch;
    background-color: blue;
}

.box{
    width: 539px;
    height: 500px;
    border-style: solid;
    border-width:  1px;
    border-top: 0ch;
    border-left: 0ch;
}